<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>578415985630-15ki0f1p6eu99aca0k2ih433qqrr5882.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578415985630-15ki0f1p6eu99aca0k2ih433qqrr5882</string>
	<key>API_KEY</key>
	<string>AIzaSyBkcOR3HH8qMvYC-YzYLcUP6POjV1JGl98</string>
	<key>GCM_SENDER_ID</key>
	<string>578415985630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.za.applord.LogBook</string>
	<key>PROJECT_ID</key>
	<string>logbook-78dbc</string>
	<key>STORAGE_BUCKET</key>
	<string>logbook-78dbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:578415985630:ios:0456088f30287a81</string>
	<key>DATABASE_URL</key>
	<string>https://logbook-78dbc.firebaseio.com</string>
</dict>
</plist>